[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "designit"]
	path = designit
	url = https://github.com/bedapub/designit
[submodule "ribiosMath"]
	path = ribiosMath
	url = https://github.com/bedapub/ribiosmath
[submodule "ribiosUtils"]
	path = ribiosUtils
	url = https://github.com/bedapub/ribiosutils
